
<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h2>Create Account</h2><br>
        <form method="POST" action="/register">
            
            <input type="text" name="username" placeholder="Enter Username" required><br><br>
            
            <input type="password" name="password" placeholder="Enter Password" required><br><br>
            
            <input type="password" name="confirm_password" placeholder="Confirm Password" required><br><br>
            <button type="submit">Register</button>
        </form>

        <p style="margin-top:15px;">
            Already have an Account?
            <a href="/login">Login</a>
        </p>
    </div>
</div>

<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/static/sw.js')
    .then(function(reg) {
      console.log("SW registered");

      // 🔥 Force reload so SW controls page
      if (!navigator.serviceWorker.controller) {
        window.location.reload();
      }
    });
}
</script>

</body>
</html>